.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--button-color);
    text-decoration: none;
}
.logo__img {
    color: var(--main-color);
    text-decoration: none;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    margin-right: 93px;
    margin-left: 0;
}